<p>
	<strong> User: <%= current_user.email %></strong>
	
</p>

<p>
	<strong> Posts:  </strong>
	<ul>
		<li><%= @post.content %></li>
		<br>
	</ul>
</p>

  <li><%= render "comments/form" %></li>

<% @post.comments.each do |comm| %>
<%= comm.content %><br>
<% end %>
<%= @last_post.content %>